body {
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
}

.square {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;/*Horizontal center*/
    align-items: center;/*full viewport height*/
    margin: 0;
}

.square span:nth-child(1){
    position: absolute;
    top: 45;
    left: 45;
    width: 400px;
    height: 400px;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.2) 50%, rgba(0,13,255,0.3) 40%);
    box-shadow: 0 0 50px rgb(4, 4, 248), inset 0 0 50px rgb(5, 5, 241);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate1 6s linear infinite;
}
.square span:nth-child(2){
    position: absolute;
    top: 45;
    left: 45;
    width: 400px;
    height: 400px;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.2) 50%, rgba(0,13,255,0.3) 40%);
    box-shadow: 0 0 50px rgb(25, 0, 255), inset 0 0 50px rgb(25, 0, 255);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate1 4s linear infinite;
}
.square span:nth-child(3){
    position: absolute;
    top: 45;
    left: 45;
    width: 400px;
    height: 400px;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.2) 50%, rgba(0,13,255,0.3) 40%);
    box-shadow: 0 0 50px rgb(25, 0, 255), inset 0 0 50px rgb(25, 0, 255);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate1 8s linear infinite;

}
@keyframes animate1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);

    }
}
@keyframes animate2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        
    }
}
@keyframes animate3{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        
    }
}
#JarvisHood {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jarvis-text {
    position: absolute;
    top: 90%; /* Move text below the circle */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-align: center;
}



